.Navbar{
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1%;
}
.linkContainer{
    display: flex;
    padding-right: 2%;
    width:30vw;
    gap:3px;
    align-items: center;
    justify-content: space-between;

}

.logo{
    padding-left: 3vh;
}

