.Navbar{
    background-color:grey;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.linkContainer{
    display: flex;
    width:30vw;
    gap:3px;
     align-items: center;
    justify-content: space-between;
}