.main{
    height: 92vh;
    padding-top: 5vh;
    padding-left: 5vh;
}
.title{
    display:flex;
    align-items: center;
    justify-content: center;
    width:80vw;
    height: 10vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-bottom: 5px silver solid;
}

.button{
    font-size: 3vh;
    background-color: transparent;
    color:white;
    width: fit-content;
    align-self: center;
    border: none;
    outline: none;
    border: 4px solid rgb(113, 110, 110);
    border-radius: 10%;
}